@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: hsla(0,0%,100%);
  --background-100: hsla(0,0%,99%);
  --background-200: hsla(0,0%,98%);
  --background-300: hsla(0,0%,97%);
  --background-400: hsla(0,0%,96%);
  --background-500: hsla(0,0%,95%);
  --foreground: hsla(0,0%,0%);
  --secondary: hsla(0,0%,95%);
  --secondary-100: hsla(0,0%,92%);
  --primary: hsla(216,60%,60%);
  --primary-100: hsla(216,52%,70%);
  --muted: hsla(0,0%,40%);
  --warning: hsla(10, 58%,60%);
}

[data-theme="dark"] {
  --background: hsla(0,0%,0%);
  --background-100: hsla(0,0%,1%);
  --background-200: hsla(0,0%,2%);
  --background-300: hsla(0,0%,3%);
  --background-400: hsla(0,0%,4%);
  --background-500: hsla(0,0%,5%);
  --foreground: hsla(0,0%,100%);
  --secondary: hsla(0,0%,10%);
  --secondary-100: hsla(0,0%, 15%);
  --primary: hsla(216,60%,60%);
  --primary-100: hsla(216,52%,70%);
  --muted: hsla(0,0%,60%);
  --warning: hsla(10, 58%,60%);
}

@theme inline {
  --text-base: 0.938rem;
  --radius: 0.5rem;
  --radius-sm: 0.65rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --spacing-container: 6rem;
  --spacing-container-mobile: 1.5rem;
  --spacing-top: 16px;
  --color-background: var(--background);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-100: var(--secondary-100);
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-muted: var(--muted);
  --color-warning: var(--warning);
}

@layer components {
  .centerBox {
    @apply px-container-mobile 2xl:px-container
  }
  .centerBoxMx {
    @apply mx-container-mobile 2xl:mx-container
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 0.938rem;
}
