@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: 0 0% 100%;
  --background-100: 0 0% 99%;
  --background-200: 0 0% 98%;
  --background-300: 0 0% 97%;
  --background-400: 0 0% 96%;
  --background-500: 0 0% 95%;
  --background-600: 0 0% 94%;
  --background-700: 0 0% 93%;
  --background-800: 0 0% 92%;
  --foreground: 0 0% 0%;
  --secondary: 0 0% 95%;
  --secondary-100: 0 0% 92%;
  --secondary-200: 0 0% 89%;
  --primary: 216 60% 60%;
  --primary-100: 216 52% 70%;
  --muted: 0 0% 40%;
  --warning: 10 58% 60%;
}

[data-theme="dark"] {
  --background: 0 0% 0%;
  --background-100: 0 0% 4%;
  --background-200: 0 0% 4%;
  --background-300: 0 0% 8%;
  --background-400: 0 0% 10%;
  --background-500: 0 0% 12%;
  --background-600: 0 0% 16%;
  --background-700: 0 0% 18%;
  --background-800: 0 0% 20%;
  --foreground: 0 0% 100%;
  --secondary: 0 0% 10%;
  --secondary-100: 0 0% 15%;
  --secondary-200: 0 0% 20%;
  --primary: 216 60% 60%;
  --primary-100: 216 52% 70%;
  --muted: 0 0% 60%;
  --warning: 10 58% 60%;
}

@theme inline {
  --text-base: 0.938rem;
  --radius: 0.5rem;
  --radius-sm: 0.65rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --spacing-container: 6rem;
  --spacing-container-mobile: 1.5rem;
  --spacing-top: 16px;
  --color-background: hsla(var(--background));
  --color-background-100: hsla(var(--background-100));
  --color-background-200: hsla(var(--background-200));
  --color-background-300: hsla(var(--background-300));
  --color-background-400: hsla(var(--background-400));
  --color-background-500: hsla(var(--background-500));
  --color-background-600: hsla(var(--background-600));
  --color-background-700: hsla(var(--background-700));
  --color-background-800: hsla(var(--background-800));
  --color-foreground: hsla(var(--foreground));
  --color-secondary: hsla(var(--secondary));
  --color-secondary-100: hsla(var(--secondary-100));
  --color-secondary-200: hsla(var(--secondary-200));
  --color-primary: hsla(var(--primary));
  --color-primary-100: hsla(var(--primary-100));
  --color-muted: hsla(var(--muted));
  --color-warning: hsla(var(--warning));
   --animate-slideDown: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slideUp: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@layer components {
  .centerBox {
    @apply px-container-mobile 2xl:px-container;
  }
  .centerBoxMx {
    @apply mx-container-mobile 2xl:mx-container;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: 0.938rem;
}

.line--highlighted {
  background-color: hsl(var(--secondary-100) / 0.2) !important;
  padding-top: 4px;
  padding-bottom: 4px;
}
.word--highlighted {
  background-color: hsl(var(--secondary-100) / 0.15) !important;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
